*{
    background-color: rgb(15 23 42);
    font-family: hurme_no2-webfont,-apple-system,BlinkMacSystemFont,sans-serif;
    font-size: 100%;
    line-height: 1.625;

}
h1{
    color: white;
    font-size: 25px;
}
.inline_menu{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 5%;
}
.menu ul {
    display: block;
    padding-left: 2%;
}
.menu li {
    list-style-type: none;
    margin-top: 20px;
    margin-left: 0%;
    padding: 0;
    width: 200px;
    align-items: center;
}
.menu li a {
    text-decoration: none;
    font-size: 18px;
    color: white;
}

ion-icon {
    color: white;
    width: 40px;
    height: 25px;
}
hr{
    display: block;
    margin-left: 0%;
    width: 170px;
    margin-top: 20px;
    margin-bottom: 20px;
}